

<!-- Photo Grid -->
<%for (var result in files){%>
<div class="row"> 
  <div class="column">
           
   
  </br>
        <img src="<%=files[result]%>" style="width:30%" class=""/>
        
      
    
  </div>
</div>

<%}%>

